<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!-- Filter expression for domains to use. Any regular expression can be used -->
    <add key="DomainRegexFilter" value=".*"/>
    <!-- If the process properties CommandLine and Username should be retrieved, set this value to True. Otherwise set it to False.
    Warning: Setting this value to True will lead to a severe performance degradation!
    -->
    <add key="UseExtendedProcessInfo" value="True"/>
    <!-- Filter expressions is not being inverted. Any regular expression can be used -->
    <add key="OrganizationalUnitRegexFilter" value="Member Servers" />
  </appSettings>
</configuration>